.btn {
  display: flex;
  align-items: center;
  border: none;
  background: var(--color-btn-blue);
  border-radius: 4px;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  &-title {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 14px;
    color: currentColor;
    margin-left: 10px;
    margin-right: 6px;
  }
  &-img {
    width: 18px;
    height: 18px;
    fill: #ffffff;
    &-hide {
      display: none;
    }
  }
  &-variant {
    &-languages {
      background: none;
      display: flex;
      flex-flow: row-reverse;
      color: #000;
    }
    &-read-more {
      background: none;
      border-radius: 0;
      border: 2px solid #fff;
      padding: 10px 20px;
      &:hover {
        background: rgba(250, 219, 219, 0.2);
      }
      * {
        font-size: 20px;
      }
    }
    &-apply {
      background: crimson;
      padding: 10px 15px;
      border-radius: 50px;
      * {
        font-size: 20px;
      }
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-20px);
      }
    }
  }
}
