.read-more {
  font-size: 20px;
  padding: 12px 25px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.slick-slider {
  width: 100% !important;
  overflow: hidden;
  display: flex;
  flex: 1;
}
.slick-slide {
  width: 100%;
}
