.header {
  &-top {
    height: 28px;
    background: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-contact {
      margin-left: 122px;
      display: flex;
      align-items: center;
      &-box {
        display: flex;
        align-items: center;
        &-title {
          font-weight: 400;
          font-size: 14px;
          color: #ffffff;
        }
        &-image {
          width: 16px;
          height: 15px;
          fill: #ffffff;
          margin-left: 15px;
          margin-right: 6px;
        }
        &-images {
          font-size: 19px;
          fill: #ffffff;
          margin-left: 15px;
          margin-right: 6px;
        }
      }
    }
  }

  &-main {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(
        rgba(16, 29, 44, 0.4),
        rgba(16, 29, 44, 0.4)
      ),
      url(../../assets/images/Intersect.svg);
    mix-blend-mode: hard-light;
    background-size: cover;
    &-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      &-first {
        display: flex;
        align-items: center;
        flex-direction: column;
        &-title {
          font-family: "Source Sans Pro";
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          text-transform: capitalize;
          color: #ffffff;
          margin-bottom: 17px;
        }
        &-span {
          width: 120px;
          height: 2px;
          background: #ffffff;
          border-radius: 6px;
        }
      }
      &-second-title {
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 66px;
        text-transform: capitalize;
        color: #ffffff;
      }
      &-third-title {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        margin-bottom: 30px;
      }
    }
    &-control {
      position: absolute;
      bottom: 14px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      &-items {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        &-icon {
          width: 12px;
          height: 12px;
          border: 5px solid #fff;
          border-radius: 50%;
          outline-offset: 5px;
          &-active {
            width: 12px;
            height: 12px;
            margin: 0 12px;
            border: 5px solid orange;
            border-radius: 50%;
            outline-offset: 5px;
          }
        }
      }
      &-icon {
        width: 24px;
        height: 64px;
        margin-top: 52px;
      }
    }
  }
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  margin-right: 120px;
  &-item {
    margin-right: 18px;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
  }
}
.navbar {
  &-inner {
    height: 64px;
    display: flex;
    align-items: center;
  }
  &-brand {
    margin-left: 120px;
  }
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-right: 120px;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 40px;
  &-item {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-left: 19px;
    padding: 24px 5px;
    cursor: pointer;
    &-img {
      width: 6px;
      height: 3px;
      margin-left: 7px;
    }
  }
}
.active {
  border-bottom: 1px solid var(--color-btn-blue);
  color: var(--color-btn-blue);
}
